@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

$small: 1024px;
$medium: 900px;

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
footer{
    background: #3e3e3e;
    padding: 20px;
    color: #f0f0f0;
}
body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;

    .title{
        padding: 10px;
        border-bottom: 1px solid #eee;
        text-align: center;
    }

    button{
        padding: 0px 10px 0px 10px;
        padding: 5px;
        border: none;
        color:#3c3c3c;
        a{
            text-decoration: none;
            color: #3c3c3c;
        }
        
    }

    .mobile{
        padding: 10px;
        border: 1px solid #eee;
        display: flex;
        justify-content: space-between;

        .prev, .next{
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }
        .prev::before {
                content: url('./left-arrow.png');
                margin-top: 2px;
            }
        
        .next::after {
                content: url('./right-arrow.png');
                margin-top: 3px;
            }

      

    }

    

    .images img{
        @media screen and (max-width: $small) {
                max-width: 90vw;
            }
    }
    .introduction{
        display: flex;
        justify-content: space-evenly;
        align-items: stretch;
        width: 100%;
        background: #f0f0f0;
        padding: 30px;

        @media screen and (max-width: $small) {
                flex-direction: column;}

    

        img{
            height: 400px;
            padding: 30px;
            background: #fff;
            box-shadow: 1.2px 1.2px 1.2px 1px #5555552a;
            border-radius: 1%;
        }

        .details{
            // width: 100%;
            padding: 30px;
            background: #fff;
            box-shadow: 1.2px 1.2px 1.2px 1px #5555552a;
            border-radius: 1%;
            color: #3c3c3c;
        }

        .heading{
            margin-right: 10px;
            font-weight: bold;
        }

        table{
            border-spacing: 10px;
        }
        tr{
            padding: 10px;
            td{
                margin-right: 20px;
            }
        }

    }
}

section {
    .mangalist, .chapter{
        padding: 10px;
        border-bottom: 1px solid #eee;
        text-align: center;
    }
    .chapter{
        text-align: left;
        padding-left: 20px;

        @media screen and (max-width: $small) {
                width: 100%;
            }

        a{
            text-decoration: none;
        }
        .subs{
            font-size: 0.8rem;
            display: block;
            color: #545454;
        }
    }
    .container{
        display: flex;
        flex-direction: column;
        border: 1px solid #eee;
        width: 70vw;
        @media screen and (max-width: $small) {
                min-width: 90vw;
                // justify-content: center;
                align-items: center;
            }
    }
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: left;

        @media screen and (max-width: $small) {
                display: flex;
                justify-content: center;
                align-items: center;
        }

        .images{
            border: 1px solid #eee;
            margin: 1px;
            padding: 5px;
            width: 60vw;
            overflow: scroll;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: $small) {
                width: 100vw;
                }
        }
    }
}
.subheading {
    color: #eee;
    background-color: #3c3c3c;
    height: 30px;
    // padding: 10px;
    font-size: 0.8rem;
    line-height: 30px;
    // padding-left: 100px;
    vertical-align: middle;
    margin-top: 2px;
    margin-bottom: 10px;
}
header {
    // display: flex;
    // flex-direction: column;
    background: #3e3e3e;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.2rem;
    box-shadow: 1.2px 1.2px 1.2px 1px #2222225a;
    text-transform: uppercase;
    text-align: center;
    height: 80px;
    // padding-left: 100px;
    vertical-align: middle;
    line-height: 80px;
    margin-bottom: 20px;
    @media screen and (max-width: $small){
        width: 100vw;
    }

    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
}

